<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Nerd Lounge Home</title>
</head>
<body>

    <h1>Nerd Lounge Forums</h1>    
    
<a href="/harrypotter">Harry Potter</a> </br>
<a href="/marvel">Marvel</a> </br>
<a href="/starwars">Star Wars</a>  </br>
<a href="/dragonballz">Dragonball Z</a> </br>
<a href="/Nerd_Lounge/animalcrossing">Animal Crossing</a> </br>
    
</body>
</html>