<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Nerd Lounge Home</title>
</head>
<body>

    <button a href="/harrypotter">Harry Potter </button>
    <button a href="/harrypotter">Harry Potter </button>
    <button a href="/harrypotter">Harry Potter </button>
    <button a href="/harrypotter">Harry Potter </button>
    <button a href="/harrypotter">Harry Potter </button>
    
</body>
</html>