<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Nerd Lounge Home</title>
</head>
<body>
    
    <h1>Nerd Lounge Forums</h1>    
    
    <button a href="/harrypotter">Harry Potter </button> </br>
    <button a href="/marvel">Marvel </button> </br>
    <button a href="/starwars">Star Wars </button> </br>
    <button a href="/dragonballz">Dragonball Z </button> </br>
    <button a href="/animalcrossing">Animal Crossing </button> </br>
    
</body>
</html>