<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Nerd Lounge</title>
</head>
<header>
    <nav>
        <a href="users/register">Create Account</a> | <a href="users/signin">Sign In</a>
    </nav>
</header>
<body>
    <h1> Welcome to Nerd Lounge</h1>
    <p>
         Are you wizard waiting for your letter or a hero trying to defend the world? Maybe you are looking for life on a desserted island or a far far away planet. Nerd Lounge is a community where nerds of all fandoms can gather to disuss thier passions, learn about new worlds and meet new companions.
    </p>
    
</body>
</html>