<!DOCTYPE html>
<html lang="en">
<head>

    <title>Animal Crossing</title>
</head>
<header>
    <nav>
        <a href="/Nerd_Lounge/home">Home</a> | <a href="/animalcrossing/new">Create a Post</a> | <a href="/signout">Sign Out</a>
    </nav>
</header>
<body>
    <h1>Animal Crossing Forum</h1>

    <ul>
        

            <% for (let i = 0; i < posts.length; i++) { %>
                <% if (posts[i].fandom === "Animal Crossing") { %>
                <li>
                    <a href="/Nerd_Lounge/animalcrossing/<%=posts[i].id%>"><%=posts[i].title %> </a>

                <% } else {%> 
                        <h2>No Post Found</h2>
                    <%} %>

        
                </li>
        <%} %>
    </ul>
    
</body>
</html>