<html>
<head>
    <title>New Post</title>
</head>
<body>
    <h1>Add a New Post</h1>
    
    <form action="/Nerd_Lounge/animalcrossing" method="POST">
        Title: <input type="text" name="title" /> <br/>
        Body:  <input type="textarea" name="bodyOfPost"  rows="10" cols="30"/> <br/>
        Author Name: <input type="text" name="authorName" > <br/>
        Date: <input type="datetime-local" name="date" /> <br/>
        <label>
        Fandom: <input list="fandoms" name="fandom"/></label> </br>
        <datalist id="fandoms">
            <option value="Harry Potter">
            <option value="Marvel">
            <option value="Star Wars">
            <option value="Dragonball Z">
            <option value="Animal Crossing">
          </datalist>
  
        <input type="submit" value="Post to Forum" />
    </form>
    <a href="/Nerd_Lounge/animalcrossing">Back</a>
</body>
</html>